body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 50%;
    height: 300px;
}

#content {
    flex: 1;
    background-color: #819089;
    
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #819089;
    font-size: large;
    margin-top: 30px;
}

#content {
    padding: 0 200px;
}

hr {
    width: 100%;
    color: white;
}

#footer-area {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

#footer-area>div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 30px;
    color: black;
}

#footer-area>div>h2 {
    color: #819089;
    font-size: xx-large;
}

#copyright {
    text-align: center;
    line-height: 30px;
    color: white;
}

.fa-brands {
    color: #5199b7;
}

.fp {
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 20px;
}

#logo {
    text-align: left;
}

#logo>div {
    line-height: 50px;
    font-size: larger;
    text-decoration: underline;
    font-style: italic;
}

#Mission_Vision {
    padding: 50px;
    margin: 10px;
}

#ss_header{
    text-align: center;
    margin-top: 50px;
}

#card_info {
    border: 1px solid black;
    background-color: rgb(207, 216, 193);
    height: 600px;
    width: auto;
    padding: 80px;
    margin: 30px;
    border-radius: 30px;
    font-size: large;
    line-height: 40px;
}

#cards{
    display: flex;
    flex-direction: row;
}

#bgImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    border-radius: 5%;
}

#M_V_G {
    text-align: center;
}

#team {
    margin: 5rem;
}

#team  {
    text-align: center;

}

#team>div {
    margin-top: 20px;
    margin: auto;
}

.team-card {
    margin: auto;
}

.team-card>img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 5rem;
    border: 3px solid black;
    object-fit: fit;
}

/* .team-card>img:hover {
    border: 5px solid  rgb(207, 216, 193);
} */

.team-card>p {
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}